# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA - ignorera det mesta men behåll configs
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
*.iws
*.iml
*.ipr

# Spring Boot
HELP.md
spring-shell.log

# OS-filer
.DS_Store
Thumbs.db

# STS / Eclipse (du kör inte det men bra att ha)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/